<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/ydui.css" />
		<link rel="stylesheet" type="text/css" href="../css/Manger.css" />
		<script src="../js/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			header {
				position: fixed !important;
				top: 0;
				z-index: 33;
				width: 100%;
			}
			
			.m-grids-3 {
				padding-top: 41px;
			}
			
			#nomore {
				display: block;
				margin: 0 auto;
				padding-top: 40%;
				padding-bottom: 40%;
				text-align: center;
			}
			
			#nomore img {
				margin: 0 auto;
				width: 150px;
			}
			
			#nomore p {
				padding-top: 10px;
			}
			
			p {
				font-size: 14px;
				margin-top: 0;
				margin-bottom: 10px;
				color: #8f8f94;
			}
		</style>
	</head>

	<body>

		<section class="g-flexview">

			<header class="m-navbar">
				<a href="../home.html" class="navbar-item"><i class="back-ico"></i></a>
				<div class="navbar-center"><span class="navbar-title" data-branch_id="" id="J_ShowActionSheet">分店ID</span></div>
			</header>

			<div class="m-grids-3">
				<a href="#" class="grids-item">
					<div class="grids-txt"><span>用户名</span></div>
				</a>
				<a href="#" class="grids-item">
					<div class="grids-txt"><span>注册时间</span></div>
				</a>
				<a href="#" class="grids-item">
					<div class="grids-txt"><span>电话号</span></div>
				</a>

				<div class="grid_item" id="grid_items">
					<a href="#" class="grids-item">
						<div class="grids-txt"><span></span></div>
					</a>
					<a href="#" class="grids-item">
						<div class="grids-txt"><span></span></div>
					</a>
					<a href="#" class="grids-item">
						<div class="grids-txt"><span></span></div>
					</a>

				</div>

			</div>

		</section>

		<div class="m-actionsheet" id="J_ActionSheet">
			<div class="J_ActionSheet-content">
				<div class="j-con">

				</div>

			</div>

			<a href="javascript:;" class="actionsheet-action" id="J_Cancel">取消</a>
		</div>

		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/ydui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			! function(win, $) {
				//   监听安卓返回键
				// H5 plus事件处理
				function plusReady() {
					// 监听键按下事件
					plus.key.addEventListener("keydown", function(e) {

						if(e.keyCode == 4) {
							//  这个按下的返回按键
							window.location.assign("../home.html")

						}
					}, false);
					// 监听键松开事件
					plus.key.addEventListener("keyup", function(e) {
						console.log("keyup: " + e.keyCode);

					}, false);
					// 监听长按键事件
					plus.key.addEventListener("longpressed", function(e) {
						console.log("longpressed: " + e.keyCode);

					}, false);
				}
				if(window.plus) {
					plusReady();
				} else {
					document.addEventListener("plusready", plusReady, false);
				}

				var QueryNumber = 0;
				/* 普通提示框*/
				var dialog = win.YDUI.dialog;
				/* 加载中提示框 */
				//				dialog.loading.open('加载中');
				/* 自定义事件 */
				var $as = $('#J_ActionSheet');

				dialog.notify('点上方标题切换推荐分店，查看其它分店会员', 5000, function() {

				});
				
				
				
				var information =JSON.parse(localStorage.information)
 console.log(information)
				$('#J_ShowActionSheet').on('click', function() {
					$as.actionSheet('open');
					QueryNumber = 1;
					get_branch_id(QueryNumber);
					dialog.loading.open('加载中');
					console.log("打开了");
				});
				$('#J_Cancel').on('click', function() {
					$as.actionSheet('close');
					console.log("关闭了")
				});

				$(document).ready(function() {
					//   默认选择显示第一个分店下的会员
					QueryNumber = 0;
					get_branch_id(QueryNumber);

				})
				//   上拉菜单  
				//   上拉选项  切换分店以及分店列表
				$("#J_ActionSheet").on('click', '.actionsheet-item', function() {

					QueryList($(this).attr("date-branch_id"));

					$("#J_ShowActionSheet").text($(this).text());
					$as.actionSheet('close');
					dialog.loading.open('加载中');

				});

				//   分店下查询会员列表
				function QueryList(Object) {

					var recommend = {
						branch_id: Object
					}
					console.log(recommend);
					$.ajax({
						url: "http://api.qmwjj.cc/index.php?r=recommend/member/member_list",
						data: {
							recommend: recommend
						},
						type: "get",
						//dataType: 'JSON',
						success: function(data) {
							var html = "";
							console.log(data);
							if(data == ""){
								html += "<div id='nomore'><img src='../img/nomore.png'><p>抱歉、暂无会员</p></div>"
							}
							var d = JSON.parse(data);
							console.log(d);
							
							for(var i = 0; i < d.length; i++) {
								html += "<a href='#' class='grids-item'><div class='grids-txt'><span>" + d[i].m_name + "</span></div></a><a href='#' class='grids-item'><div class='grids-txt'><span>" + getLocalTime(d[i].m_reg_time) + "</span></div></a><a href='#' class='grids-item'><div class='grids-txt'><span>" + d[i].m_tel + "</span></div></a>"
							}

							if(html == "") {
								html += "<div id='nomore'><img src='../img/nomore.png'><p>抱歉、暂无会员</p></div>"
							   $("#grid_items .grids-item").remove();
								$("body #nomore").remove()
								$("#grid_items").append(html);
								dialog.loading.close();
							} else {
								$("#grid_items .grids-item").remove();
								$("body #nomore").remove()
								$("#grid_items").append(html);
								dialog.loading.close();
							}

						},
					})

				}

				//    				

				//   获得分店ID
				function get_branch_id(Object) {
					var information = JSON.parse(localStorage.information);
					var recommend = {
						business_id: information.business_id,
					}
					$.ajax({
						url: "http://api.qmwjj.cc/index.php?r=business/recommend/recommend_branch_list",
						data: {
							recommend: recommend
						},
						type: "get",
						//dataType: 'JSON',
						success: function(data) {
							var datas = JSON.parse(data);
							var html = "";
							var d = datas.branch_list
							if(Object == 0) {
								html += "<a href='#' class='actionsheet-item' date-branch_id='" + d[0].branch_id + "'>" + d[0].branch_name + "</a>"
								$("#J_ShowActionSheet").text(d[0].branch_name);
								$("#J_ActionSheet .j-con").append(html);
								dialog.loading.close();
								mathHeigth();
								QueryList(d[0].branch_id);
							}
							if(Object == 1) {
								//								console.log(Object)
								for(var i = 0; i < d.length; i++) {
									html += "<a href='#' class='actionsheet-item' date-branch_id='" + d[i].branch_id + "'>" + d[i].branch_name + "</a>"
								}
								$("#J_ActionSheet .j-con a").remove();
								$("#J_ActionSheet .j-con").append(html);
								mathHeigth();
								dialog.loading.close();
							}
						},
					})
				}

				// 分店列表过多......
				function mathHeigth() {

					$("#J_ActionSheet .J_ActionSheet-content").height();
					if($("#J_ActionSheet .J_ActionSheet-content").height() >= screen.availHeight) {
						$(".J_ActionSheet-content").css({
							"max-height": screen.availHeight - 103
						})
					} else {

					}

				}

				function getLocalTime(nS) {
					return new Date(parseInt(nS) * 1000).Format("yyyy-MM-dd hh:mm:ss");
				}
				Date.prototype.Format = function(fmt) { //author: meizz  
					var o = {
						"M+": this.getMonth() + 1, //月份  
						"d+": this.getDate(), //日  
						"h+": this.getHours(), //小时  
						"m+": this.getMinutes(), //分  
						"s+": this.getSeconds(), //秒  
						"q+": Math.floor((this.getMonth() + 3) / 3), //季度  
						"S": this.getMilliseconds() //毫秒  
					};
					if(/(y+)/.test(fmt))
						fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
					for(var k in o)
						if(new RegExp("(" + k + ")").test(fmt))
							fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
					return fmt;
				}
				console.log(getLocalTime(1490586664)); //2017-03-27 11:51:04  

			}(window, jQuery);
		</script>
	</body>

</html>