<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

    <link href="../css/jiancai.css" rel="stylesheet">
    <style>
        @font-face {
            font-family: "iconfont";
            src: url('../icon/iconfont.eot');
            /* IE9*/
            src: url('../icon/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../icon/iconfont.woff') format('woff'), /* chrome, firefox */
            url('../icon/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
            url('../icon/iconfont.svg#iconfont') format('svg');
            /* iOS 4.1- */
        }
        
        .iconfont {
            font-family: "iconfont" !important;
            font-size: 16px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>

</head>

<body>
    <div class="head_lunbo">
        <div class="head_logo">
            <h4>全名网建材城</h4>
            <span class="hlg_span" id="caidan"><i class="iconfont">&#xe637;</i></span>
        </div>
        <div style="height: 44px;width: 100%;background-color: #fff;"></div>
        <!--第一个轮播图 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="swi_banner" src="../img/baoyingl.png" alt=""></div>
                <div class="swiper-slide"><img class="swi_banner" src="../img/baoyingl.png" alt=""></div>
                <div class="swiper-slide"><img class="swi_banner" src="../img/baoyingl.png" alt=""></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination swipa_item1"></div>

            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev previ"><i class="iconfont">&#xe65e;</i></div>
            <div class="swiper-button-next nexti"><i class="iconfont">&#xe61f;</i></div>
        </div>
        <!-- 轮播品牌 -->
        <div class="hd_brand">

            <div class="hdb_head">
                <span class="hdbh_sitem1">热门品牌</span>·<span class="hdbh_sitem2">精装大牌千挑万选</span>
            </div>
            <!--品牌轮播开始-->
            <div class="swiper-container1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="ss_div">
                            <ul class="slid_ul_item1">
                                <li class="su_item1_li"><img src="../img/pinpai/aichao.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/aishangni.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/Ajia.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/alidandun.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/baolun.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/dongpeng.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/fatu.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/fangcheng.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/fangtai.png" alt="" class="sul_img_item"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ss_div">
                            <ul class="slid_ul_item1">
                                <li class="su_item1_li"><img src="../img/pinpai/aichao.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/aishangni.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/duanfan.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/alidandun.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/baolun.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/bbati.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/fatu.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/fangcheng.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/fangtai.png" alt="" class="sul_img_item"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ss_div">
                            <ul class="slid_ul_item1">
                                <li class="su_item1_li"><img src="../img/pinpai/aichao.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/aishangni.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/Ajia.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/alidandun.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/baolun.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/bbati.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/biran.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/fangcheng.png" alt="" class="sul_img_item"></li>
                                <li class="su_item1_li"><img src="../img/pinpai/fangtai.png" alt="" class="sul_img_item"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination1 swip_tion1"></div>

            </div>
        </div>
        <!--  新款-->
        <div class="h_fange">
            <div class="hf_head">
                <span class="hfh_item1">每日上新</span>·<span class="hfh_item2">精美品质匠心独具</span>
            </div>
            <div class="swiper-container2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!--  暂时这样搁置-->
                        <ul class="sw2_ul">
                            <li class="sw2u_li">
                                <div class="sw2ul_item1">
                                    <div class="sw2uld_item">
                                        <img src="../img/one.png" alt="" class="switem_img">
                                    </div>
                                    <p class="sw2_title">春风十里扬州路</p>
                                    <p class="sw2_item1">￥552.0</p>
                                    <p class="sw2_item2">凤凰谷家具旗舰店</p>
                                </div>
                            </li>
                            <li class="sw2u_li">
                                <div class="sw2ul_item1">
                                    <div class="sw2uld_item">
                                        <img src="../img/one.png" alt="" class="switem_img">
                                    </div>
                                    <p class="sw2_title">春风十里扬州路</p>
                                    <p class="sw2_item1">￥552.0</p>
                                    <p class="sw2_item2">凤凰谷家具旗舰店</p>
                                </div>
                            </li>
                            <li class="sw2u_li">
                                <div class="sw2ul_item1">
                                    <div class="sw2uld_item">
                                        <img src="../img/one.png" alt="" class="switem_img">
                                    </div>
                                    <p class="sw2_title">春风十里扬州路</p>
                                    <p class="sw2_item1">￥552.0</p>
                                    <p class="sw2_item2">凤凰谷家具旗舰店</p>
                                </div>
                            </li>
                            <li class="sw2u_li">
                                <div class="sw2ul_item1">
                                    <div class="sw2uld_item">
                                        <img src="../img/one.png" alt="" class="switem_img">
                                    </div>
                                    <p class="sw2_title">春风十里扬州路</p>
                                    <p class="sw2_item1">￥552.0</p>
                                    <p class="sw2_item2">凤凰谷家具旗舰店</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="sw2_ul">
                            <li class="sw2u_li">
                                <div class="sw2ul_item1">
                                    <div class="sw2uld_item">
                                        <img src="../img/one.png" alt="" class="switem_img">
                                    </div>
                                    <p class="sw2_title">春风十里扬州路</p>
                                    <p class="sw2_item1">￥552.0</p>
                                    <p class="sw2_item2">凤凰谷家具旗舰店</p>
                                </div>
                            </li>
                            <li class="sw2u_li">
                                <div class="sw2ul_item1">
                                    <div class="sw2uld_item">
                                        <img src="../img/one.png" alt="" class="switem_img">
                                    </div>
                                    <p class="sw2_title">春风十里扬州路</p>
                                    <p class="sw2_item1">￥552.0</p>
                                    <p class="sw2_item2">凤凰谷家具旗舰店</p>
                                </div>
                            </li>
                            <li class="sw2u_li">
                                <div class="sw2ul_item1">
                                    <div class="sw2uld_item">
                                        <img src="../img/one.png" alt="" class="switem_img">
                                    </div>
                                    <p class="sw2_title">春风十里扬州路</p>
                                    <p class="sw2_item1">￥552.0</p>
                                    <p class="sw2_item2">凤凰谷家具旗舰店</p>
                                </div>
                            </li>
                            <li class="sw2u_li">
                                <div class="sw2ul_item1">
                                    <div class="sw2uld_item">
                                        <img src="../img/one.png" alt="" class="switem_img">
                                    </div>
                                    <p class="sw2_title">春风十里扬州路</p>
                                    <p class="sw2_item1">￥552.0</p>
                                    <p class="sw2_item2">凤凰谷家具旗舰店</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="sw2_ul">
                            <li class="sw2u_li">
                                <div class="sw2ul_item1">
                                    <div class="sw2uld_item">
                                        <img src="../img/one.png" alt="" class="switem_img">
                                    </div>
                                    <p class="sw2_title">春风十里扬州路</p>
                                    <p class="sw2_item1">￥552.0</p>
                                    <p class="sw2_item2">凤凰谷家具旗舰店</p>
                                </div>
                            </li>
                            <li class="sw2u_li">
                                <div class="sw2ul_item1">
                                    <div class="sw2uld_item">
                                        <img src="../img/one.png" alt="" class="switem_img">
                                    </div>
                                    <p class="sw2_title">春风十里扬州路</p>
                                    <p class="sw2_item1">￥552.0</p>
                                    <p class="sw2_item2">凤凰谷家具旗舰店</p>
                                </div>
                            </li>
                            <li class="sw2u_li">
                                <div class="sw2ul_item1">
                                    <div class="sw2uld_item">
                                        <img src="../img/one.png" alt="" class="switem_img">
                                    </div>
                                    <p class="sw2_title">春风十里扬州路</p>
                                    <p class="sw2_item1">￥552.0</p>
                                    <p class="sw2_item2">凤凰谷家具旗舰店</p>
                                </div>
                            </li>
                            <li class="sw2u_li">
                                <div class="sw2ul_item1">
                                    <div class="sw2uld_item">
                                        <img src="../img/one.png" alt="" class="switem_img">
                                    </div>
                                    <p class="sw2_title">春风十里扬州路</p>
                                    <p class="sw2_item1">￥552.0</p>
                                    <p class="sw2_item2">凤凰谷家具旗舰店</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev1 previ1" id="pre1"><i class="iconfont">&#xe65e;</i></div>
                <div class="swiper-button-next1 nexti1" id="net1"><i class="iconfont">&#xe61f;</i></div>
            </div>
        </div>
    </div>
    <!--  商品无限加载-->
    <div class="gs_loading">
        <div class="gsl_head">
            <span>————&nbsp;精品推荐&nbsp;————</span>
        </div>
        <div class="gsl_start">
            <ul class="gsls_ul">
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
                <li class="gsls_li">
                    <a href="javascipt:;">
                        <div class="gslsd_item1">
                            <img src="../img/one.png" alt="">
                        </div>
                        <div class="gslsd_item2">
                            <p class="gi_item_p">
                                碧然 现代简约无纺布墙纸 圆圈3D立体浮雕植绒撒金 卧室客厅满铺壁纸
                            </p>
                        </div>
                        <div class="gslsd_item3">￥<span class="gi_item_span1">454.00</span>元<span class="gi_item_span2">已售:<span class="gi_item_span2">0</span></span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--  -->
    <div class="mask">
        <div class="maskChild">
            <ul>
                <li>
                    <a href="../index.html">
                        <img src="../img/001.png " alt=" ">
                        <span>全部商品</span>
                    </a>

                </li>
                <li>
                    <a href="../view/jiancai.html">
                        <img src="../img/001.png " alt=" ">
                        <span>建材城</span> </a>
                </li>
                <li>
                    <a href=" ">
                        <img src="../img/002.png " alt=" ">
                        <span>家具城</span> </a>
                </li>
                <li>
                    <a href=" ">
                        <img src="../img/003.png " alt=" ">
                        <span>电器城</span> </a>
                </li>
                <li>
                    <a href=" ">
                        <img src="../img/004.png " alt=" ">
                        <span>装修服务</span> </a>
                </li>
                <li>
                    <a href="../view/gouwuche.html">
                        <img src="../img/005.png " alt=" ">
                        <span>购物车</span> </a>
                </li>
                <li>
                    <a href="../view/map.html">
                        <img src="../img/006.png " alt=" ">
                        <span>体验店</span> </a>
                </li>
                <li>
                    <a href=" ">
                        <img src="../img/007.png " alt=" ">
                        <span>热门活动</span> </a>
                </li>
                <li>
                    <a href="../view/userCenter.html">
                        <img src="../img/008.png " alt=" ">
                        <span>个人中心</span> </a>
                </li>
                <li>
                    <a href=" ">
                        <img src="../img/002.png " alt=" ">
                        <span>更多</span> </a>
                </li>

            </ul>

        </div>
    </div>

    <!--底部底部底部 底部 -->
    <div class="footer">
        <ul>
            <li>
                <a href="../index.html">
                    <i class="iconfont assets_i footericon">&#xe629;</i>
                    <span>首页</span>
                </a>
            </li>
            <li>
                <a href="../view/huadong.html">
                    <i class="iconfont assets_i footericon">&#xe6e3;</i>
                    <span>分类</span>
                </a>
            </li>
            <li>
                <a href="../view/paipinshow.html">
                    <i class="iconfont assets_i footericon">&#xe66d;</i>
                    <span>发现</span>
                </a>
            </li>
            <li>
                <a href="../view/gouwuche.html">
                    <i class="iconfont assets_i footericon">&#xe611;</i>
                    <span>购物车</span>
                </a>
            </li>
            <li>
                <a href="../view/userCenter.html">
                    <i class="iconfont assets_i footericon">&#xe606;</i>
                    <span>个人中心</span>
                </a>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="../js/swiper-3.4.2.min.js"></script>
    <!--  -->
    <script>
        $("#caidan").click(function() {
            $(".mask").show();
            $('body').css("overflow-y", "hidden");
            $(document).scrollTop(0);

        });
        $(".mask").click(function() {
            $(this).hide();
            $('body').css("overflow-y", "auto");
        })
    </script>
    <!-- 第一个轮播-->
    <script>
        var x = $(".gsls_ul").find('li').length;
        for (var i = 0; i < x; i++) {
            if (i % 2 == 1) {
                $($(".gsls_ul").find('li')[i]).css("float", "right");
            }
        }
    </script>
    <script>
        window.onload = function() {
            var mySwiper = new Swiper('.swiper-container', {
                direction: 'horizontal',
                loop: true,
                autoplay: 4000,
                // 如果需要分页器
                pagination: '.swiper-pagination',
                // 如果需要前进后退按钮
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                // 如果需要滚动条
            });
        }
    </script>
    <script>
        var mySwiper1 = new Swiper('.swiper-container1', {
            direction: 'horizontal',
            loop: true,
            autoplay: 4500,
            // 如果需要分页器
            pagination: '.swiper-pagination1',
            // // 如果需要前进后退按钮
            // nextButton: '.swiper-button-next',
            // prevButton: '.swiper-button-prev',

            // 如果需要滚动条

        });
        var mySwiper2 = new Swiper('.swiper-container2', {
            // direction: 'horizontal',
            loop: true,
            // effect: 'coverflow',
            // effect: 'flip',
            // 如果需要前进后退按钮
            nextButton: '.swiper-button-next1',
            prevButton: '.swiper-button-prev1',
            effect: 'cube',
            // slidesPerView: 3,
            cube: {
                slideShadows: true,
                shadow: true,
                shadowOffset: 100,
                shadowScale: 0.6
            }


        });
    </script>

</body>

</html>