<!DOCTYPE html>
<html lang="zh">

	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<link rel="stylesheet" href="../css/init.css">
		<link href="../css/dingdan.css" rel="stylesheet">
		<style>
			@font-face {
				font-family: "iconfont";
				src: url('../icon/iconfont.eot');
				/* IE9*/
				src: url('../icon/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('../icon/iconfont.woff') format('woff'), /* chrome, firefox */
				url('../icon/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
				url('../icon/iconfont.svg#iconfont') format('svg');
				/* iOS 4.1- */
			}
			
			.iconfont {
				font-family: "iconfont" !important;
				font-size: 16px;
				font-style: normal;
				-webkit-font-smoothing: antialiased;
				-webkit-text-stroke-width: 0.2px;
				-moz-osx-font-smoothing: grayscale;
			}
		</style>
	</head>

	<body>
		<div class="head_nav">
			<span class="head_span iconfont">&#xe628;</span>
			<h3 class="head_h3">我的订单</h3>
		</div>
		<div class="sevser">
			<div class="sev_div1"> <span class="sev_sp1">订单号</span>
				<input type="text" name="" value="" placeholder="订单号" class="sev_input"></div>
			<div class="sev_div2"> <span class="sev_sp1">收货人</span>
				<input type="text" name="" value="" placeholder="收货人" class="sev_input"></div>
			<div class="sev_div3">
				<select class="selectop">
					<option value="">订单状态...</option>
					<option value="">未确认</option>
					<option value="">已确认</option>
					<option value="">取消</option>
					<option value="">无效</option>
					<option value="">退货</option>
					<option value="">已分单</option>
					<option value="">部分分单</option>
				</select>
				<input type="submit" value="查询" class="submit_input">
			</div>
		</div>
		<div class="ddcon">
			<ul class="ddcon_ul">
				<li class="ddcon_li">
					<span class="con_sp ">订单号</span>
					<span class="con_sp">下单时间</span>

					<span class="con_sp">总金额</span>

				</li>
				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one"><a href="dingdan1.html">1153153153</a></span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>
				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one">1153153153</span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>
				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one">1153153153</span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>
				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one">1153153153</span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>
				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one">1153153153</span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>
				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one">1153153153</span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>
				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one">1153153153</span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>
				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one">1153153153</span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>
				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one">1153153153</span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>
				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one">1153153153</span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>
				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one">1153153153</span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>
				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one">1153153153</span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>

				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one">1153153153</span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>

				<li class="ddcon_li" style="margin-top: -4px;">
					<span class="con_sp one">1153153153</span>
					<span class="con_sp">2017-10-10</span>

					<span class="con_sp">￥22354</span>

				</li>
			</ul>
		</div>
		<div style="margin-top: 0px;padding-bottom: 20px;">
			<ul class="page" maxshowpageitem="4" pagelistcount="10" id="page"></ul>
		</div>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/page.js"></script>
		<script type="text/javascript">
			function tt(dd) {
				//alert(dd);
			}
			var GG = {
				"kk": function(mm) {
					//alert(mm);
				}
			}

			$("#page").initPage(100, 1, GG.kk);
			$("#page1").initPage(100, 1, GG.kk);
			$(".head_span").click(function() {
				history.back();
			})
		</script>
		<script>
			$(".one").click(function() {
				window.location.assign("dingdan1.html")
			})
		</script>
	</body>

</html>