<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/init.css" />
		<link rel="stylesheet" type="text/css" href="../css/newDingDan.css" />
		<style type="text/css">
			@font-face {
				font-family: "iconfont";
				src: url('../icon/iconfont.eot');
				/* IE9*/
				src: url('../icon/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
				url('../icon/iconfont.woff') format('woff'), /* chrome, firefox */
				url('../icon/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
				url('../icon/iconfont.svg#iconfont') format('svg');
				/* iOS 4.1- */
			}
			
			.iconfont {
				font-family: "iconfont" !important;
				font-size: 16px;
				font-style: normal;
				-webkit-font-smoothing: antialiased;
				-webkit-text-stroke-width: 0.2px;
				-moz-osx-font-smoothing: grayscale;
			}
			
			@media only screen and (min-width: 300px) and (max-width: 330px) {
				.order_number {
					width: 130px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.state,
				.state1 {
					position: relative;
					bottom: 15px;
				}
				.goods_left {
					width: 70px;
				}
				.tab_li {
					font-size: 12px;
				}
			}
		</style>
	</head>

	<body>
		<div class="header">
			<span class="head_span iconfont">&#xe628;</span>
			<span class="sousuo"><a href=""><img src="../img/sousuo.png"/></a></span>
			<h3 class="head_h3">订单详情</h3>

			<!--  tab  -->
			<div class="tab">
				<ul class="tab_ul">
					<li class="tab_li ctr">待付款<span>3</span></li>
					<li class="tab_li">待发货<span>11</span></li>
					<li class="tab_li">待评价<span>22</span></li>
					<li class="tab_li">退款中<span>33</span></li>
					<li class="tab_li">更多<span class="tab_more"><img src="../img/down.png" alt="" /></span></li>
				</ul>
				<ul class="tab_mores">
					<li>已发货</li>
					<li>已成功</li>
					<li>已关闭</li>
					<li>近三个月</li>
				</ul>
			</div>

		</div>

		<div class="content">

			<!--  待付款 -->
			<ul class="con_ul show">

				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state">待发货</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="" />
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">核对地址</a>
							<a href="">客服催单</a>
							<a href="">关闭订单</a>
						</li>

					</ul>

				</li>

				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state">待发货</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="" />
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">核对地址</a>
							<a href="">客服催单</a>
							<a href="">关闭订单</a>
						</li>

					</ul>

				</li>
				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state">待发货</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="" />
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">核对地址</a>
							<a href="">客服催单</a>
							<a href="">关闭订单</a>
						</li>

					</ul>

				</li>
				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state">待发货</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="" />
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">核对地址</a>
							<a href="">客服催单</a>
							<a href="">关闭订单</a>
						</li>

					</ul>

				</li>

			</ul>

			<!-- 待发货 -->
			<ul class="con_ul">

				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state1">待发货</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="" />
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">核对地址</a>
							<a href="">发货</a>
							<!--<a href="">关闭订单</a>-->
						</li>

					</ul>

				</li>

				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state1">待发货</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="" />
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">核对地址</a>
							<a href="">发货</a>
							<!--<a href="">关闭订单</a>-->
						</li>

					</ul>

				</li>
				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state1">待发货</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="" />
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">核对地址</a>
							<a href="">发货</a>
							<!--<a href="">关闭订单</a>-->
						</li>

					</ul>

				</li>
				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state1">待发货</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="" />
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">核对地址</a>
							<a href="">发货</a>
							<!--<a href="">关闭订单</a>-->
						</li>

					</ul>

				</li>

			</ul>

			<!--  待评价  -->
			<ul class="con_ul">

				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state">双方未评</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="">
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">双方未评</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">立即评价</a>
							<!--<a href="">客服催单</a>-->
							<!--<a href="">关闭订单</a>-->
						</li>

					</ul>

				</li>

				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state">卖家未评</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="">
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">立即评价</a>
							<!--<a href="">客服催单</a>-->
							<!--<a href="">关闭订单</a>-->
						</li>

					</ul>

				</li>
				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state">卖家未评</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="">
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">立即评价</a>
							<!--<a href="">客服催单</a>-->
							<!--<a href="">关闭订单</a>-->
						</li>

					</ul>

				</li>
				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state">卖家未评</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="">
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">立即评价</a>
							<!--<a href="">客服催单</a>-->
							<!--<a href="">关闭订单</a>-->
						</li>

					</ul>

				</li>

			</ul>
			<!--  退款中  -->
			<ul class="con_ul">

				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state">待发货</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="">
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 退款  -->
						<!--  -->

						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">核对地址</a>
							<a href="">客服催单</a>
							<a href="">关闭订单</a>
						</li>

					</ul>

				</li>

				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state">待发货</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="">
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->

						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>
						<!-- 退款-->
						<li class="refund">
							<div class="re_con">
								<p class="timess">2017-09-15 14:49:32</p>
								<p class="reason">
									<span class="res_name">佘坤</span>发起了退货换货申请。货物状态: <span class="res_goods">未发货</span>,原因：<span class="res_reason">拍错/多拍/不想要，</span>金额:<span class="res_money">152.00</span>元
								</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">立即评价</a>
							<!--<a href="">客服催单</a>
							<a href="">关闭订单</a>-->
						</li>

					</ul>

				</li>
				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state">待发货</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="">
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">核对地址</a>
							<a href="">客服催单</a>
							<a href="">关闭订单</a>
						</li>

					</ul>

				</li>
				<li class="con_li">
					<ul class="detailed">

						<!-- 订单信息  -->
						<li class="detailed_li">
							<span class="state">待发货</span>
							<span class="order_number">5645646465123135461212</span>
							<span class="times">19时14分前拍下</span>
						</li>
						<!-- 商品信息 -->
						<li class="goods">

							<div class="goods_left">
								<img src="../img/02.jpg" alt="">
							</div>
							<div class="goods_right">
								<div class="gr_top">
									<p>陕西眉县猕猴桃新鲜水果维生素C还有维生素B当年的的</p>
									<span class="money">152</span>
								</div>
								<div class="gr_down">
									<p>单件规格19片/件</p>
									<span class="gs_number">2</span>
								</div>

							</div>
						</li>
						<!-- 来源  -->
						<li class="source">
							<span class="PC_cource">手机订单</span>
							<p class="source_p">总共<span class="source_span1">1</span> 合计 (含快递:¥0.00): <span class="sou_money">152</span> </p>

						</li>
						<!-- 客户信息 -->
						<li class="customer">
							<div class="cust_top">
								<span class="consig">收  货   人</span> <span class="con_name">佘坤</span> <span class="phone_number">18629364654</span>

							</div>
							<div class="cust_down">
								<span class="consig">收货地址</span>
								<p class="address">陕西省,西安市,未央区,凤城八路太华北路建材市场西区九排25号</p>
							</div>

						</li>

						<!-- 订单操作 -->

						<li class="operation">

							<a href="">核对地址</a>
							<a href="">客服催单</a>
							<a href="">关闭订单</a>
						</li>

					</ul>

				</li>

			</ul>

		</div>
		
		<div class="mask">
			<img src="../img/loding.gif"/>
		</div>
		
		
		
		
		
		
		
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(".tab_li").click(function() {

				var _index = $(this).index();
				console.log(_index);
				if(_index >= 4) {
					$(".tab_mores").toggle();

				} else {
                      $(".mask").show();
                      $("body").css("overflow","hidden");
					$(".tab_li").removeClass("ctr");
					$(this).addClass("ctr");
					$(".con_ul").removeClass("show");
					$($(".con_ul")[_index]).addClass("show");
					
					setTimeout(function() {
						$("body").animate({
							scrollTop: 0
						}, 1000)
						
						$("body").css({
							"overflow-x":"hidden",
							"overflow-y":"auto"
						});
						$(".mask").hide();
					}, 1500)

				}

			})
		</script>
	</body>

</html>