<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">

		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/ydui.css" />
		<script src="../js/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/ddYD.css" />
		<style type="text/css">
			::-webkit-scrollbar {
				width: 1px;
				float: right;
			}
			
			 ::-webkit-scrollbar:horizontal {
				height: 0em;
			}
			
			body,
			.Mask-body,
			.sousuoMask,
			.m-navbar {
				min-width: 320px;
				max-width: 640px;
				margin: 0 auto;
			}
		</style>

	</head>

	<body>
		<header class="m-navbar">
			<a href="#" class="navbar-item">
				<i class="back-ico"></i>
			</a>
			<div class="navbar-center">
				<span class="navbar-title">我的订单</span>
			</div>
			<a href="#" class="navbar-item sou">
				<i class="icon-search"></i>
			</a>
		</header>

		<div id="J_Tab" class="m-tab">
			<ul class="tab-nav">
				<li class="tab-nav-item tab-active">
					<a href="javascript:;">全部</a>
				</li>
				<li class="tab-nav-item">
					<a href="javascript:;">待付款</a>
				</li>
				<li class="tab-nav-item">
					<a href="javascript:;">待发货</a>
				</li>
				<li class="tab-nav-item">
					<a href="javascript:;">待收货</a>
				</li>
				<li class="tab-nav-item">
					<a href="javascript:;">待评价</a>
				</li>
			</ul>
			<div class="tab-panel">
				<div class="tab-panel-item tab-active">

					<div class="tab_items">
						<ul class="tab_contaion">

							<li class="tab_li">
								<div class="tab_head">
									<h3 class="tab_h">
									<i class="icon-home"></i>
									<span class="tab_name">商店名称</span>
									<i class="icon-more tab_more"></i>
									<span class="tab_state">发货状态</span></h3>
								</div>

							</li>
							<li class="tab_li tab_bottoms">
								<div class="con_left">
									<img src="../img/diban.png" />
								</div>
								<div class="con_center">
									<p class="cent_p">这里是商品名称</p>
									<p class="cent_p cent_color">颜色：的风格与</p>
								</div>
								<div class="con_right">
									<span class="con_money">415.00</span>
									<span class="con_num">x2</span>
								</div>

							</li>
							<li class="tab_li tab_num_mon">
								<p class="tab_num_p">
									<span class="tnp_sp">共<span class="tab_p_num">2</span>件</span>
									<span class="tnp_mon_sp">实付：￥<span class="tnp_mon_num">2312</span></span>
								</p>
							</li>
							<li class="tab_li">
								<div class="tab_bottom">
									<a href="javascript:;" class="btn btn-hollow">延长收货</a>
									<a href="javascript:;" class="btn btn-hollow">查看物流</a>
									<a href="javascript:;" class="btn btn-hollow">申请售后</a>
									<a href="javascript:;" class="btn btn-danger">确认收货</a>
								</div>
							</li>

						</ul>
					</div>

					<div class="tab_items">
						<ul class="tab_contaion">

							<li class="tab_li">
								<div class="tab_head">
									<h3 class="tab_h">
									<i class="icon-home"></i>
									<span class="tab_name">商店名称</span>
									<i class="icon-more tab_more"></i>
									<span class="tab_state">发货状态</span></h3>
								</div>

							</li>
							<li class="tab_li tab_bottoms">
								<div class="con_left">
									<img src="../img/diban.png" />
								</div>
								<div class="con_center">
									<p class="cent_p">这里是商品名称</p>
									<p class="cent_p cent_color">颜色：的风格与</p>
								</div>
								<div class="con_right">
									<span class="con_money">415.00</span>
									<span class="con_num">x2</span>
								</div>

							</li>
							<li class="tab_li tab_num_mon">
								<p class="tab_num_p">
									<span class="tnp_sp">共<span class="tab_p_num">2</span>件</span>
									<span class="tnp_mon_sp">实付：￥<span class="tnp_mon_num">2312</span></span>
								</p>
							</li>
							<li class="tab_li">
								<div class="tab_bottom">
									<a href="javascript:;" class="btn btn-hollow">延长收货</a>
									<a href="javascript:;" class="btn btn-hollow">查看物流</a>
									<a href="javascript:;" class="btn btn-hollow">申请售后</a>
									<a href="javascript:;" class="btn btn-danger">确认收货</a>
								</div>
							</li>

						</ul>
					</div>

					<div class="tab_items">
						<ul class="tab_contaion">

							<li class="tab_li">
								<div class="tab_head">
									<h3 class="tab_h">
									<i class="icon-home"></i>
									<span class="tab_name">商店名称</span>
									<i class="icon-more tab_more"></i>
									<span class="tab_state">发货状态</span></h3>
								</div>

							</li>
							<li class="tab_li tab_bottoms">
								<div class="con_left">
									<img src="../img/diban.png" />
								</div>
								<div class="con_center">
									<p class="cent_p">这里是商品名称</p>
									<p class="cent_p cent_color">颜色：的风格与</p>
								</div>
								<div class="con_right">
									<span class="con_money">415.00</span>
									<span class="con_num">x2</span>
								</div>

							</li>
							<li class="tab_li tab_num_mon">
								<p class="tab_num_p">
									<span class="tnp_sp">共<span class="tab_p_num">2</span>件</span>
									<span class="tnp_mon_sp">实付：￥<span class="tnp_mon_num">2312</span></span>
								</p>
							</li>
							<li class="tab_li">
								<div class="tab_bottom">
									<a href="javascript:;" class="btn btn-hollow">延长收货</a>
									<a href="javascript:;" class="btn btn-hollow">查看物流</a>
									<a href="javascript:;" class="btn btn-hollow">申请售后</a>
									<a href="javascript:;" class="btn btn-danger">确认收货</a>
								</div>
							</li>

						</ul>
					</div>

				</div>
				<!--剩下的tab-->
				<div class="tab-panel-item">222222</div>
				<div class="tab-panel-item">333333</div>
				<div class="tab-panel-item">333333</div>
				<div class="tab-panel-item">333333</div>
			</div>
		</div>

		<div class="sousuoMask">
			<div class="Mask-body">
				<div class="mask-bo">

					<i class="iconfont">a</i>
					<input type="text" class="Mask_content" placeholder="请输入商品标题或订单号进行搜索" />

				</div>
			</div>
			<a href="javascript:;" class="aclose">搜 索</a>

		</div>
		<footer class="m-tabbar">
			<a href="#" class="tabbar-item">
				<span class="tabbar-icon">
           			 <i class="icon-home-outline"></i>
       			 </span>
				<span class="tabbar-txt">首页</span>
			</a>
			<a href="#" class="tabbar-item">
				<span class="tabbar-icon">
           			 <i class="icon-shopcart-outline"></i>
        		</span>
				<span class="tabbar-txt">购物车</span>
			</a>
			<a href="#" class="tabbar-item">
				<span class="tabbar-icon">
           			 <i class="icon-ucenter-outline"></i>
     		   </span>
				<span class="tabbar-txt">个人中心</span>
			</a>
			
			<a href="#" class="tabbar-item">
				<span class="tabbar-icon">
           			 <i class="icon-ucenter-outline"></i>
     		   </span>
				<span class="tabbar-txt">个人中心</span>
			</a>
		</footer>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/ydui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/pivate/dingdanYDUI.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>