<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<link rel="stylesheet" type="text/css" href="../css/init.css" />
		<link rel="stylesheet" type="text/css" href="../css/ydui.css" />
		<script src="../js/ydui.flexible.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/furniture.css" />
	</head>

	<body>
		<header class="m-navbar" id="headers">
			<div class="navbar-center">
				<span class="navbar-title">全名网</span>
			</div>
		</header>
		<div class="m-slider" id="J_Slider">
			<div class="slider-wrapper">
				<div class="slider-item">
					<a href="#">
						<img src="http://static.ydcss.com/uploads/ydui/1.jpg">
					</a>
				</div>
				<div class="slider-item">
					<a href="#">
						<img src="http://static.ydcss.com/uploads/ydui/2.jpg">
					</a>
				</div>
				<div class="slider-item">
					<a href="#">
						<img src="http://static.ydcss.com/uploads/ydui/3.jpg">
					</a>
				</div>
			</div>
			<div class="slider-pagination"></div>
			<!-- 分页标识 -->
		</div>

		<!--  4等分 -->
		<div class="m-grids-4">
			<a href="#" class="grids-item">
				<div class="grids-icon"><img src="../img//keting.jpg"></div>
				<div class="grids-txt"><span>客厅家具</span></div>
			</a>
			<a href="#" class="grids-item">
				<div class="grids-icon"><img src="../img/can.jpg"></div>
				<div class="grids-txt"><span>餐厅家具</span></div>
			</a>
			<a href="#" class="grids-item">
				<div class="grids-icon"><img src="../img/quantao.jpg"></div>
				<div class="grids-txt"><span>整装家具</span></div>
			</a>
			<a href="#" class="grids-item">
				<div class="grids-icon"><img src="../img/ding2	.png"></div>
				<div class="grids-txt"><span>定制家具</span></div>
			</a>
		</div>
		<!--<h2 class="body-h2">————&nbsp;精品推荐&nbsp;————</h2>-->

		<!--  分段控件   -->
		<div class="subsection">
			<div class="subsection_1 press">
				看看吧
			</div>
			<div class="subsection_1">
				好东西
			</div>
		</div>

		<div class="recommend1">

			<section class="g-scrollview" id="J_List">
				<div id="J_ListContent" class="m-list list-theme1">
					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg">
						</div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>2016夏天新款男士短袖t恤青少年韩版修身印花圆领半袖男装衣服潮</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>134.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>骆驼男装2016夏装男士短袖T恤 圆领衣服 印花男装体恤 半袖打底衫</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>334.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>条纹短袖T恤男士韩版衣服大码潮流男装夏季圆领体恤2016新款半袖</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>344.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>夏季青少年衣服男生潮牌t恤 男士 夏秋学生 日系棉短袖半袖男小衫</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>34.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>2016夏装新款时尚潮流短袖T恤男纯棉V领日系青少年韩版夏季上衣服</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>34.7</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>男装衣服男夏t恤 男士短袖t恤圆领夏季潮牌宽松原宿风半截袖男</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>39.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>夏装新款亚麻短袖t恤男韩版修身棉麻半袖t恤衫潮男装薄款夏季衣服</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>34.4</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title">	<span class="list-del-price">这个是品牌</span>买一送二新款青少年潮男大码T恤 学生字半袖修身款衣服半截袖青年</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>34.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title">	<span class="list-del-price"> 这个是品牌</span>男士长袖t恤男款体恤男装衣服男春装薄款圆领纯棉T恤男打底衫白色</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>64.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>superman短袖t恤日潮牌男士日韩夏装水洗做旧修身个性短袖t恤衣服</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>34.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>
				</div>
				<div class="J_InfiniteScrollTag"></div>
				<div class="list-loading" style="display: none;"><img src="http://static.ydcss.com/uploads/ydui/loading/loading10.svg"></div>

				<div class="footer">
					<div class="links " id="ECS_MEMBERZONE ">
						<a href=" "><span>shekunc</span></a>
						<a href=" "><span>退出</span></a>
						<a href="javascript:window.scrollTo(0,0);"><span>回顶部</span></a>
					</div>
					<ul class="linkss ">
						<li>
							<a href="# ">
								<i class="footerimg_1 "></i>
								<span>客户端</span></a>
						</li>
						<li>
							<a href=" "><i class="footerimg_2 "></i><span class="gl ">触屏版</span></a>
						</li>
						<li>
							<a href=" " class="goDesktop "><i class="footerimg_3 "></i><span>电脑版</span></a>
						</li>
					</ul>
					<p class="mf_o4 ">© 2005-2017 全名网 版权所有，并保留所有权利。</p>
				</div>
			</section>

		</div>

		<div class="recommend2">

			<section class="g-scrollview" id="J_List">
				<div id="J_ListContent" class="m-list list-theme1">
					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>2016夏天新款男士短袖t恤青少年韩版修身印花圆领半袖男装衣服潮</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>134.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>骆驼男装2016夏装男士短袖T恤 圆领衣服 印花男装体恤 半袖打底衫</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>334.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>条纹短袖T恤男士韩版衣服大码潮流男装夏季圆领体恤2016新款半袖</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>344.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>夏季青少年衣服男生潮牌t恤 男士 夏秋学生 日系棉短袖半袖男小衫</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>34.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>2016夏装新款时尚潮流短袖T恤男纯棉V领日系青少年韩版夏季上衣服</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>34.7</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>男装衣服男夏t恤 男士短袖t恤圆领夏季潮牌宽松原宿风半截袖男</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>39.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>夏装新款亚麻短袖t恤男韩版修身棉麻半袖t恤衫潮男装薄款夏季衣服</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>34.4</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title">	<span class="list-del-price">这个是品牌</span>买一送二新款青少年潮男大码T恤 学生字半袖修身款衣服半截袖青年</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>34.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title">	<span class="list-del-price"> 这个是品牌</span>男士长袖t恤男款体恤男装衣服男春装薄款圆领纯棉T恤男打底衫白色</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>64.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>

					<a href=" " class="list-item">
						<div class="list-img">
							<img src="../img/good_s.jpg"> </div>
						<div class="list-mes">
							<h3 class="list-title"><span class="list-del-price">这个是品牌</span>superman短袖t恤日潮牌男士日韩夏装水洗做旧修身个性短袖t恤衣服</h3>
							<div class="list-mes-item">
								<div>
									<span class="list-price"><em>¥</em>34.45</span>

								</div>
							</div>
							<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
						</div>
					</a>
				</div>
				<div class="J_InfiniteScrollTag"></div>
				<div class="list-loading" style="display: none;">
					<img src="http://static.ydcss.com/uploads/ydui/loading/loading10.svg">
					< /div>

						<div class="footer">
							<div class="links " id="ECS_MEMBERZONE ">
								<a href=" "><span>shekunc</span></a>
								<a href=" "><span>退出</span></a>
								<a href="javascript:window.scrollTo(0,0);"><span>回顶部</span></a>
							</div>
							<ul class="linkss ">
								<li>
									<a href="# ">
										<i class="footerimg_1 "></i>
										<span>客户端</span></a>
								</li>
								<li>
									<a href=" "><i class="footerimg_2 "></i><span class="gl ">触屏版</span></a>
								</li>
								<li>
									<a href=" " class="goDesktop "><i class="footerimg_3 "></i><span>电脑版</span></a>
								</li>
							</ul>
							<p class="mf_o4 ">© 2005-2017 全名网 版权所有，并保留所有权利。</p>
						</div>
			</section>

			</div>

			<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="../js/ydui.js" type="text/javascript" charset="utf-8"></script>

			<script type="text/javascript">
				$('#J_Slider').slider({
					speed: 200,
					autoplay: 2000,
					lazyLoad: true
				});
			</script>
			<script type="text/javascript">
				//   上下
				$(window).scroll(function() {
					var before = $(window).scrollTop();
					$(window).scroll(function() {
						var after = $(window).scrollTop();
						if(before < after) {
							//			console.log('上');

							before = after;

							$("#headers").hide();
						};
						if(before > after) {
							//			console.log('下');

							before = after;
							$("#headers").show();

						};
					});
				});

				$(".subsection_1").click(function() {
					$(".subsection_1").removeClass('press');
					if($(this).index() == 0) {

						$(".recommend2").hide();
						$(".recommend2").removeClass('recommend_start')
						$(".recommend1").show();
						$(".recommend1").addClass('recommend_start')
					} else {
						$(".recommend1").hide();
						$(".recommend1").removeClass('recommend_start')
						$(".recommend2").show();
						$(".recommend2").addClass('recommend_start')

					}
					$(this).addClass('press')
				})
			</script>
	</body>

</html>