<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<meta content="email=no" name="format-detection">
		<title>全名网建材城</title>
		<link rel="stylesheet" type="text/css" href="../css/swiper-3.4.2.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/jiancaicheng.css" />
		<style type="text/css">
			 @font-face {
  font-family: 'iconfont';
  src: url('../icon/iconfont.eot');
  src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../icon/iconfont.woff') format('woff'),
  url('../icon/iconfont.ttf') format('truetype'),
  url('../icon/iconfont.svg#iconfont') format('svg');
}.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
		</style>
	</head>

	<body>
		<header>
			<h3>全名网建材城</h3>

		</header>

		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href=""><img src="img/4756baf12a810e1.jpg" /></a>
				</div>
				<div class="swiper-slide">
					<a href=""><img src="img/63561642140c100.jpg" alt="" /></a>
				</div>
				<div class="swiper-slide">
					<a href=""><img src="img/645790c51d4d71c.jpg" alt="" /></a>
				</div>
				<div class="swiper-slide">
					<a href=""><img src="img/685790c54bbae1c.jpg" alt="" /></a>
				</div>

			</div>
			<!-- 如果需要分页器 -->
			<div class="swiper-pagination"></div>
		</div>
		<div class="content">
			<!--   新品上市-->
			<div class="new-goods">
				<h2>
         			<em></em>
         			新品上市
         		</h2>
				<div class="new-g-left">
					<a href=""><img src="img/1482794455972590384.jpg" alt="" /></a>
				</div>
				<div class="new-g-right">
					<a href=""><img src="img/1474852531803248574.jpg" alt="" /></a>
					<a href=""><img src="img/1474852531803248574.jpg" alt="" /></a>
				</div>

			</div>

			<!-- 热销商品 -->

			<div class="sellingg">

				<h2>
         			<em></em>
         			热销商品
         		</h2>
				<div class="new-g-left">
					<a href=""><img src="img/1474852531803248574.jpg" alt="" /></a>
					<a href=""><img src="img/1474852531803248574.jpg" alt="" /></a>
				</div>
				<div class="new-g-right">

					<a href=""><img src="img/1482794455972590384.jpg" alt="" /></a>
				</div>

			</div>

			<!--  广告 -->

			<div class="advice">
				<a href=""><img src="img/1474915543583286646.jpg" alt="" /></a>
			</div>

			<!--  为你推荐 -->
			<div class="recommend">
				<h2 class="body-h2">————&nbsp;精品推荐&nbsp;————</h2>
				<section class="g-scrollview" id="J_List">
					<div id="J_ListContent" class="m-list list-theme1">
						<a href=" " class="list-item">
							<div class="list-img">
								<img src="http://img1.shikee.com/try/2016/06/19/09430120929215230041.jpg_220x220.jpg" data-url="http://img1.shikee.com/try/2016/06/19/09430120929215230041.jpg_220x220.jpg">
							</div>
							<div class="list-mes">
								<h3 class="list-title"><span class="list-del-price">这个是品牌</span>2016夏天新款男士短袖t恤青少年韩版修身印花圆领半袖男装衣服潮</h3>
								<div class="list-mes-item">
									<div>
										<span class="list-price"><em>¥</em>134.45</span>

									</div>
								</div>
								<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
							</div>
						</a>

						<a href=" " class="list-item">
							<div class="list-img">
								<img src="http://img1.shikee.com/try/2016/06/21/10172020923917672923.jpg_220x220.jpg" data-url="http://img1.shikee.com/try/2016/06/21/10172020923917672923.jpg_220x220.jpg">
							</div>
							<div class="list-mes">
								<h3 class="list-title"><span class="list-del-price">这个是品牌</span>骆驼男装2016夏装男士短袖T恤 圆领衣服 印花男装体恤 半袖打底衫</h3>
								<div class="list-mes-item">
									<div>
										<span class="list-price"><em>¥</em>334.45</span>

									</div>
								</div>
								<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
							</div>
						</a>

						<a href=" " class="list-item">
							<div class="list-img">
								<img src="http://img1.shikee.com/try/2016/06/23/15395220917905380014.jpg_220x220.jpg" data-url="http://img1.shikee.com/try/2016/06/23/15395220917905380014.jpg_220x220.jpg">
							</div>
							<div class="list-mes">
								<h3 class="list-title"><span class="list-del-price">这个是品牌</span>条纹短袖T恤男士韩版衣服大码潮流男装夏季圆领体恤2016新款半袖</h3>
								<div class="list-mes-item">
									<div>
										<span class="list-price"><em>¥</em>344.45</span>

									</div>
								</div>
								<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
							</div>
						</a>

						<a href=" " class="list-item">
							<div class="list-img">
								<img src="http://img1.shikee.com/try/2016/06/25/14244120933639105658.jpg_220x220.jpg" data-url="http://img1.shikee.com/try/2016/06/25/14244120933639105658.jpg_220x220.jpg">
							</div>
							<div class="list-mes">
								<h3 class="list-title"><span class="list-del-price">这个是品牌</span>夏季青少年衣服男生潮牌t恤 男士 夏秋学生 日系棉短袖半袖男小衫</h3>
								<div class="list-mes-item">
									<div>
										<span class="list-price"><em>¥</em>34.45</span>

									</div>
								</div>
								<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
							</div>
						</a>

						<a href=" " class="list-item">
							<div class="list-img">
								<img src="http://img1.shikee.com/try/2016/06/26/12365720933909085511.jpg_220x220.jpg" data-url="http://img1.shikee.com/try/2016/06/26/12365720933909085511.jpg_220x220.jpg">
							</div>
							<div class="list-mes">
								<h3 class="list-title"><span class="list-del-price">这个是品牌</span>2016夏装新款时尚潮流短袖T恤男纯棉V领日系青少年韩版夏季上衣服</h3>
								<div class="list-mes-item">
									<div>
										<span class="list-price"><em>¥</em>34.7</span>

									</div>
								</div>
								<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
							</div>
						</a>

						<a href=" " class="list-item">
							<div class="list-img">
								<img src="http://img1.shikee.com/try/2016/06/23/14381920926024616259.jpg_220x220.jpg" data-url="http://img1.shikee.com/try/2016/06/23/14381920926024616259.jpg_220x220.jpg">
							</div>
							<div class="list-mes">
								<h3 class="list-title"><span class="list-del-price">这个是品牌</span>男装衣服男夏t恤 男士短袖t恤圆领夏季潮牌宽松原宿风半截袖男</h3>
								<div class="list-mes-item">
									<div>
										<span class="list-price"><em>¥</em>39.45</span>

									</div>
								</div>
								<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
							</div>
						</a>

						<a href=" " class="list-item">
							<div class="list-img">
								<img src="http://static.ydcss.com/uploads/ydui/goods_default.jpg" data-url="http://img1.shikee.com/try/2016/07/06/12154120902559544523.jpg_220x220.jpg">
							</div>
							<div class="list-mes">
								<h3 class="list-title"><span class="list-del-price">这个是品牌</span>夏装新款亚麻短袖t恤男韩版修身棉麻半袖t恤衫潮男装薄款夏季衣服</h3>
								<div class="list-mes-item">
									<div>
										<span class="list-price"><em>¥</em>34.4</span>

									</div>
								</div>
								<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
							</div>
						</a>

						<a href=" " class="list-item">
							<div class="list-img">
								<img src="http://static.ydcss.com/uploads/ydui/goods_default.jpg" data-url="http://img1.shikee.com/try/2016/09/28/14575020926479478831.jpg_220x220.jpg">
							</div>
							<div class="list-mes">
								<h3 class="list-title">	<span class="list-del-price">这个是品牌</span>买一送二新款青少年潮男大码T恤 学生字半袖修身款衣服半截袖青年</h3>
								<div class="list-mes-item">
									<div>
										<span class="list-price"><em>¥</em>34.45</span>

									</div>
								</div>
								<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
							</div>
						</a>

						<a href=" " class="list-item">
							<div class="list-img">
								<img src="http://static.ydcss.com/uploads/ydui/goods_default.jpg" data-url="http://img1.shikee.com/try/2016/09/14/15383120913857087526.jpg_220x220.jpg">
							</div>
							<div class="list-mes">
								<h3 class="list-title">	<span class="list-del-price"> 这个是品牌</span>男士长袖t恤男款体恤男装衣服男春装薄款圆领纯棉T恤男打底衫白色</h3>
								<div class="list-mes-item">
									<div>
										<span class="list-price"><em>¥</em>64.45</span>

									</div>
								</div>
								<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
							</div>
						</a>

						<a href=" " class="list-item">
							<div class="list-img">
								<img src="http://static.ydcss.com/uploads/ydui/goods_default.jpg" data-url="http://img1.shikee.com/try/2016/06/03/12173920932544716516.jpg_220x220.jpg">
							</div>
							<div class="list-mes">
								<h3 class="list-title"><span class="list-del-price">这个是品牌</span>superman短袖t恤日潮牌男士日韩夏装水洗做旧修身个性短袖t恤衣服</h3>
								<div class="list-mes-item">
									<div>
										<span class="list-price"><em>¥</em>34.45</span>

									</div>
								</div>
								<div class="brance_name"><span class="self-supert">自营</span><span class="brance-title">这里是店铺名称</span> <span class="selling">热销</span> </div>
							</div>
						</a>
					</div>
					<div class="J_InfiniteScrollTag"></div>
					<div class="list-loading" style="display: none;"><img src="http://static.ydcss.com/uploads/ydui/loading/loading10.svg"></div>

					<div class="footer">
						<div class="links " id="ECS_MEMBERZONE ">
							<a href=" "><span>shekunc</span></a>
							<a href=" "><span>退出</span></a>
							<a href="javascript:window.scrollTo(0,0);"><span>回顶部</span></a>
						</div>
						<ul class="linkss ">
							<li>
								<a href="# ">
									<i class="footerimg_1 "></i>
									<span>客户端</span></a>
							</li>
							<li>
								<a href=" "><i class="footerimg_2 "></i><span class="gl ">触屏版</span></a>
							</li>
							<li>
								<a href=" " class="goDesktop "><i class="footerimg_3 "></i><span>电脑版</span></a>
							</li>
						</ul>
						<p class="mf_o4 ">© 2005-2017 全名网 版权所有，并保留所有权利。</p>
					</div>
				</section>

			</div>

		</div>
<link rel="stylesheet" type="text/css" href="../css/footer.css"/>
		<!--  footer -->
		<footer class="m-tabbar tabbar-fixed">
			<a href="#" class="tabbar-item">
				<span class="tabbar-icon">
            <i class="iconfont homeIcon">&#xe603;</i>
       				 </span>
				<span class="tabbar-txt">首页</span>
			</a>
			<a href="#" class="tabbar-item">
				<span class="tabbar-icon">
            <i class="iconfont classIcon">&#xe604;</i>
      			  </span>
				<span class="tabbar-txt">分类</span>
			</a>
			<a href="#" class="tabbar-item">
				<span class="tabbar-icon">
            <i class="iconfont">&#xe623;</i>
        </span>
				<span class="tabbar-txt">发现</span>
			</a>
			<a href="#" class="tabbar-item">
				<span class="tabbar-icon">
            <i class="iconfont CarIcon">&#xe647;</i>
        </span>
				<span class="tabbar-txt">购物车</span>
			</a>
			<a href="#" class="tabbar-item">
				<span class="tabbar-icon">
            <i class="iconfont">&#xe626;</i>
        </span>
				<span class="tabbar-txt">个人中心</span>
			</a>
		</footer>

		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/swiper-3.4.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var mySwiper = new Swiper('.swiper-container', {
				direction: 'horizontal',
				loop: true,

				// 如果需要分页器
				pagination: '.swiper-pagination',

				// 如果需要滚动条

			})
		</script>
		<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>