<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>ScrollTab</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta content="telephone=no" name="format-detection" />
		<link rel="stylesheet" type="text/css" href="../css/init.css" />
		<link rel="stylesheet" href="../css/ydui.css" />
		<link rel="stylesheet" href="../css/scrolltab.css" />
		<script src="../js/ydui.flexible.js"></script>
		<style type="text/css">
			body {
				width: 100%;
				min-width: 320px;
				max-width: 640px;
				margin: 0 auto;
			}
			
			.scrolltab-title {
				text-transform: capitalize;
			}
			
			.scrolltab-icon {
				margin-right: 0.1rem;
			}
			
			.scrolltab-item.crt,
			.scrolltab-item.crt:active {
				background-color: #FFF;
				border-right: 3px solid #ff2233;
			}
			
			.j-pinpai {}
			
			.j-pinpai li {
				border-bottom: 1px solid #DDDDDD;
			}
			
			.j-pinpai li a {
				display: inline-block;
				width: 100%;
				height: 100%;
				padding: 6px;
			}
			
			.j-pinpai li a img {
				display: inline-block;
				height: 0.9rem;
				width: 2rem;
			}
			
			.j-pinpai li a span {
				display: inline-block;
				height: 0.9rem;
				line-height: 0.9rem;
				position: absolute;
				font-size: 14px;
				color: #555;
				margin-left: 5px;
			}
		</style>
	</head>

	<body>
		<section class="g-flexview">

			<header class="m-navbar">
				<a href="scrolltab.html" class="navbar-item"><i class="back-ico"></i></a>
				<div class="navbar-center"><span class="navbar-title">在售品牌</span></div>
			</header>

			<section class="g-scrollview">

				<div class="m-scrolltab" data-ydui-scrolltab>

					<div class="scrolltab-content">
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">A</strong>
							<section class="menu-right padding-all j-content">

								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>
									<li>
										<a href="">
											<img src="../img/pinpai/aishangni.png" />
											<span>爱尚尼橱柜</span>
										</a>

									</li>
									<li>
										<a href="">
											<img src="../img/pinpai/Ajia.png" />
											<span>A家家居</span>
										</a>

									</li>
									<li>
										<a href="">
											<img src="../img/pinpai/alidandun.png" />
											<span>阿里丹顿电器</span>
										</a>

									</li>
								</ul>

							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">B</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">C</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">D</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">D</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">E</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">F</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">G</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">H</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">I</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">J</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">K</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">L</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">M</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">N</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">O</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">P</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">Q</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">R</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">S</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">T</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">U</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">V</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">W</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">X</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">Y</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>
						<div class="scrolltab-content-item">
							<strong class="scrolltab-content-title">Z</strong>
							<section class="menu-right padding-all j-content">
								<ul class="j-pinpai">
									<li>
										<a href="">
											<img src="../img/pinpai/aichao.png" />
											<span>爱巢家私</span>
										</a>

									</li>

								</ul>
							</section>
						</div>

					</div>

					<div class="scrolltab-nav">
						<a href="javascript:;" class="scrolltab-item">

							<div class="scrolltab-title">a</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">

							<div class="scrolltab-title">b</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">

							<div class="scrolltab-title">c</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">

							<div class="scrolltab-title">d</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">

							<div class="scrolltab-title">e</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">

							<div class="scrolltab-title">f</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">

							<div class="scrolltab-title">g</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">

							<div class="scrolltab-title">h</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">

							<div class="scrolltab-title">i</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">

							<div class="scrolltab-title">j</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">k</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">l</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">m</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">n</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">o</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">p</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">q</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">r</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">s</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">t</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">u</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">v</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">w</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">x</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">y</div>
						</a>
						<a href="javascript:;" class="scrolltab-item">
							<div class="scrolltab-title">z</div>
						</a>

					</div>
				</div>

			</section>

		</section>
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="../js/ydui.js"></script>
		<script src="../js/pivate/OnSaleBrand.js" type="text/javascript" charset="utf-8"></script>
	
	</body>

</html>