<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>

		<div>
			注册分店 "http://api.branch.qmwjj.cc/index.php?r=branch/regbranch ",
			 变更 "http://api.qmwjj.cc/index.php?r=branch/branch/regbranch ", 
			 
			 
			 会员登录 "http://api.branch.qmwjj.cc/index.php?r=member/login ", 
			 变更 "http://api.qmwjj.cc/index.php?r=member/member/login ",
			 
			 
			  注册会员发短信 url: "http://api.branch.qmwjj.cc/index.php?r=member/send_mms ", 
			  变更 url: "http://api.qmwjj.cc/index.php?r=member/member/send_mms ", 
			  
			  
			  
			  注册会员 url: "http://api.branch.qmwjj.cc/index.php?r=member/regmember ", 
			  变更 url: "http://api.qmwjj.cc/index.php?r=member/member/regmember ", 
			  
			  
			  
			  分店认证 url: "http://api.branch.qmwjj.cc/index.php?r=branch/settledbranch ", 
			  变更 url: "http://api.qmwjj.cc/index.php?r=branch/branch/settledbranch ",
			  
			  
			  //分店身份认证
		jQuery("#person_id").click(function(){
			
			var person={
				'address':'ii',//地址
				'branch_name':'ii',//分店
				'people_name':'李小姐',//人名
				'people_id':'330184199412251154',//身份证
				'bank_id':'6212261********1111'//银行卡
			};
			http://api.qmwjj.cc/index.php?r=branch/branch/settledbranch
			
			
			
			//分店注册
			http://api.qmwjj.cc/index.php?r=branch/branch/regbranch
		//
		jQuery("#regbranch").click(function(){
			var branch={
				'branch_name':'aaa',//分店名称
				'province':'1',//省
				'city':'2',//市
				'county':'3',//县
				'address':'aaa',//地址
				'full_name':'aaa',//负责人姓名
				'tel':'tel',//负责人电话
				'person_id':'fefe',//负责人身份证号
				'alipay_account':'dfefef',//支付宝帐户
				'bank_id':'fefef',//银行卡
				'description':'fefef',//描述
				'measure_of_area':'fefefef',//面积
				'branch_level':'fefeff',//分店等级
				'description':'feggregre',
				'member_id':'1100'//会员id
			};
		</div>

		<script type="text/javascript">
			var data = "";
			if(data == 'timeout') {
				alert("验证码已过期，请重新获取验证码");
				stop()
			} else if(data == 'success') {
				alert("验证码已发送，请注意查收。");

				clearInterval(timer); //清除计时器  
				//time();
				//console.log(this);
				//var that = this;
				var that = $('getPhoneCode');
				that.disabled = true;
				var count = 60;
				var timer = setInterval(function() {
					if(count > 0) {
						count--;
						that.innerHTML = "剩余时间" + count + "s";
					} else {
						that.innerHTML = "重新发送短信";
						that.disabled = false;
						clearInterval(timer); //清除计时器
					}
				}, 1000);
				stop()
			} else if(data == 'frequently') { //频繁
				alert("你发送验证码太频繁，请停一会再发送");

			} else if(data == 'register') {
				alert("你已注册过会员");
			}
		</script>
	</body>

</html>